SovSOAPUICITest/SOA/Schemas/sovereign/insurance/canonical/AUNZ_Life_1-3-0_members/ACORDSchemaWSDL/data/BusinessDataTypes.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
   ====================================================================== 
    ===== Business Data Type Schema Module ===== 
   NON NORMATIVE EXAMPLE PROVIDED FOR ACORD NDR ILLUSTRATION 
    ====================================================================== 
   
      Standard Organization: ACORD
       Version: 1.3.0 
      Generated on: 15/4/16
    
     COPYRIGHT NOTICE:
     
(c) 2014 ACORD. All Rights Reserved.

Use of this Schema and its documentation are covered by the terms and conditions file that was included in the distribution file that you found this Schema.http://www.ACORD.org

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:acord-doc="http://www.acord.org/schema/documentation/draft/Annotations/1" xmlns="http://www.acord.org/schema/data/draft/ReusableDataComponents/1" targetNamespace="http://www.acord.org/schema/data/draft/ReusableDataComponents/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1">
   <xsd:annotation>
      <xsd:appinfo>
         <acord-doc:GenerationDateTime>4/4/2016</acord-doc:GenerationDateTime>
      </xsd:appinfo>
   </xsd:annotation>
   <xsd:include schemaLocation="../codelists/ACORD_CodeLists.xsd"/>
<!--
*******************************************************************************
            Business Data Types
*******************************************************************************
-->

   <xsd:complexType name="ACORDClosedCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ACORDCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ACORDCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ACORDCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ACORDStandardVersionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ACORDStandardVersionCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ActionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ActionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="Amount_Type">
      <xsd:simpleContent>
         <xsd:extension base="AmountContent_Type">
            <xsd:attribute name="currencyCode" type="CurrencyCodeContent_Type"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AnswerCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="AnswerCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AntiTheftDeviceProductCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="AntiTheftDeviceProductCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AntiTheftDeviceTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="AntiTheftDeviceTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ApplicationTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ApplicationTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AssigningEntityCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="AssigningEntityCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AttachmentTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="AttachmentTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="BankAccountTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="BankAccountTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="BenefitPeriodCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="BenefitPeriodCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="BillingFrequencyCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="BillingFrequencyCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="BillingMethodCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="BillingMethodCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="BusinessActivityFinancialAmountItemTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="BusinessActivityFinancialAmountItemTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="BusinessActivityTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="BusinessActivityTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CalculationMethodCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="CalculationMethodCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CancellationEvidenceObtainedCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="CancellationEvidenceObtainedCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CancellationPremiumCalculationCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="CancellationPremiumCalculationCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CancellationReasonCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="CancellationReasonCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CancellationTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="CancellationTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CauseCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="CauseCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ChassisExternalIdentifierTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ChassisExternalIdentifierTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ClaimAmountItemTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ClaimAmountItemTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ClaimEventLogStatusCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ClaimEventLogStatusCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ClaimLodgementTransactionFunctionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ClaimLodgementTransactionFunctionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ClaimLodgementTransactionSubFunctionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ClaimLodgementTransactionSubFunctionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ClaimReasonCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ClaimReasonCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ClaimStatusCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ClaimStatusCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ClaimTransactionAmountItemTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ClaimTransactionAmountItemTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="Code_Type">
      <xsd:simpleContent>
         <xsd:extension base="CodeContent_Type">
            <xsd:attributeGroup ref="CodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CommunicationChannelCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="CommunicationChannelCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CommunicationProcessCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="CommunicationProcessCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ContactRoleCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ContactRoleCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ContinuingEducationStatusCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ContinuingEducationStatusCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ContractAmountItemTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ContractAmountItemTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ContractStatusCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ContracStatusCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ControlCountTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ControlCountTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CoreRoleCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="CoreRoleCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CoverageCategoryCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="CoverageCategoryCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CoverageLevelCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="CoverageLevelCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CoverageStatusCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="CoverageStatusCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CoverageTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="CoverageTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CoverTransactionFunctionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="CoverTransactionFunctionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DamageDescriptionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="DamageDescriptionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DamageExtentCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="DamageExtentCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DeductibleAmountItemTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="DeductibleAmountItemTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DeductibleAppliesCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="DeductibleAppliesCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DisabilitySectionCoverageTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="DisabilitySectionCoverageTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DisabilitySectionTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="DisabilitySectionTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DomesticForeignCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="DomesticForeignCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DriverExternalIdentifierTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="DriverExternalIdentifierTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DriversLicenseTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="DriversLicenseTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EmailTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="EmailTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EmployeeInformationFinancialAmountItemTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="EmployeeInformationFinancialAmountItemTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EmployeeInformationStatusCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="EmployeeInformationStatusCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EmployerCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="EmployerCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EmploymentStatusCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="EmploymentStatusCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EndPointActorContactRoleCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="EndPointActorContactRoleCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EngineExternalIdentifierTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="EngineExternalIdentifierTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EventCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="EventCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ExclusionCategoryCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ExclusionCategoryCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ExtendedStatusCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ExtendedStatusCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ExternalIdentifierTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ExternalIdentifierTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="FinancialAmountItemTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="FinancialAmountItemTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="FinancialPeriodCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="FinancialPeriodCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="FinancialReviewFinancialAmountItemTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="FinancialReviewFinancialAmountItemTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="FinancialReviewTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="FinancialReviewTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="FinancialTransactionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="FinancialTransactionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="FrequencyCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="FrequencyCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="FuelTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="FuelTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="FundExternalIdentifierTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="FundExternalIdentifierTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="GenderCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="GenderCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="GeocodeMatchLevelCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="GeocodeMatchLevelCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="HazardZoneSchemeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="HazardZoneSchemeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="HealthSectionCoverageTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="HealthSectionCoverageTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="HealthSectionTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="HealthSectionTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="HumanResourcesTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="HumanResourcesTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InsuranceAmountItemTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="InsuranceAmountItemTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InsuredBusinessRelationshipRoleCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="InsuredBusinessRelationshipRoleCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InsurerContactRoleCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="InsurerContactRoleCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InterestedPartyContactRoleCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="InterestedPartyContactRoleCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InterestedPartyRoleCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="InterestedPartyBusinessRelationshipRoleCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="IntervieweeBusinessRelationshipRoleCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="IntervieweeBusinessRelationshipRoleCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InterviewTerminationReasonCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="InterviewTerminationReasonCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InterviewTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="InterviewTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InvestmentStatusCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="InvestmentStatusCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InvestmentSummaryAmountItemTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="InvestmentSummaryAmountItemTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InvestmentTransactionAmountItemTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="InvestmentTransactionAmountItemTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InvestmentTransactionFunctionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="InvestmentTransactionFunctionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InvoiceStatusCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="InvoiceStatusCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ItemValueTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ItemValueTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="JobCategoryCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="JobCategoryCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LatitudeDegreeMeasure_Type">
      <xsd:simpleContent>
         <xsd:extension base="LatitudeDegreeMeasureContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LegalEntityCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="LegalEntityCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LicenseStatusCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="LicenseStatusCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LifeCoverageOptionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="LifeCoverageOptionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LifeItemSectionCoverageTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="LifeItemSectionCoverageTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LifeItemSectionOptionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="LifeItemSectionOptionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LifeItemSectionOptionQuestionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="LifeItemSectionOptionQuestionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LifeItemSectionTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="LifeItemSectionTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LifePremiumTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="LifePremiumTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LifePrimaryCoverageCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="LifePrimaryCoverageCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LifeSectionCoverageTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="LifeSectionCoverageTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LifeSectionTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="LifeSectionTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LimitAppliesCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="LimitAppliesCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LodgementTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="LodgementTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LongitudeDegreeMeasure_Type">
      <xsd:simpleContent>
         <xsd:extension base="LongitudeDegreeMeasureContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="MaritalStatusCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="MaritalStatusCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="Measure_Type">
      <xsd:simpleContent>
         <xsd:extension base="MeasureContent_Type">
            <xsd:attribute name="unitCode" type="UnitCodeContent_Type"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="MembershipTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="MembershipTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="MessageDestinationCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="MessageDestinationCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="MessageDocumentResultStatusCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="MessageDocumentResultStatusCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="MessageResultStatusCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="MessageResultStatusCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ModificationCategoryCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ModificationCategoryCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="NameTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="NameTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="OccupationalRatingCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="OccupationalRatingCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="OccupationClassCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="OccupationClassCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="OccupationExternalIdentifierTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="OccupationExternalIdentifierTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="OperationsFinancialAmountItemTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="OperationsFinancialAmountItemTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="OperationsHumanResourcesTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="OperationsHumanResourcesTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="OperationsTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="OperationsTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="OperatorExperienceRestrictionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="OperatorExperienceRestrictionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="OptionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="OptionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="OptionQuestionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="OptionQuestionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="OrganizationExternalIdentifierTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="OrganizationExternalIdentifierTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="OrganizationNameTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="OrganizationNameTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PartyRoleTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PartyRoleTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PaymentStatusCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PaymentStatusCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PaymentTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PaymentTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PerilCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PerilCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PerilExcludedCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PerilCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PerilIncludedCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PerilCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PersonExternalIdentifierTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PersonExternalIdentifierTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PersonNameTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PersonNameTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PersonTitlePrefixCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PersonTitlePrefixCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PolicyDriverTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PolicyDriverTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PolicyholderTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PolicyholderTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PolicyOrderTransactionFunctionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PolicyOrderTransactionFunctionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PolicyOrderTransactionSubFunctionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PolicyOrderTransactionSubFunctionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PolicyPropertyTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PolicyPropertyTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PolicyQuestionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PolicyQuestionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PolicyStatusCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PolicyStatusCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PolicySynchronizationTransactionFunctionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PolicySynchronizationTransactionFunctionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PolicyTransactionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PolicyTransactionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PrimaryCoverageCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PrimaryCoverageCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ProducerBusinessRelationshipRoleCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ProducerBusinessRelationshipRoleCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ProducerContactRoleCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ProducerContactRoleCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ProducerLicenseTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ProducerLicenseTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ProductExternalIdentifierTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ProductExternalIdentifierTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PurviewCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="PurviewCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="QuestionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="QuestionCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="RadiusUseCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="RadiusUseCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="RegistrationExternalIdentifierTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="RegistrationExternalIdentifierTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ReinstatementReasonCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ReinstatementReasonCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ReinstatementTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ReinstatementTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="RelationshipToInsuredCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="RelationshipToInsuredCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="RemarkTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="RemarkTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="RequirementEventCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="RequirementEventCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="RequirementEventLogStatusCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="RequirementEventLogStatusCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ResultPendedCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ResultPendedCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ResultRejectCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ResultRejectCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ResultSuccessCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ResultSuccessCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TaxAmountItemTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="TaxAmountItemTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TaxFilingStatusCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="TaxFilingStatusCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TaxTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="TaxTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TelephoneTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="TelephoneTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ThirdPartyDriverRoleCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ThirdPartyDriverRoleCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TitleRelationshipCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="TitleRelationshipCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TransactionFunctionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="TransactionFunctionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TransactionSubFunctionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="TransactionSubFunctionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TransmissionExternalIdentifierTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="TransmissionExternalIdentifierTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TransmissionTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="TransmissionTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="UnrepairedDamageTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="UnrepairedDamageTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ValuationTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="ValuationTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="VehicleArticulatedCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="VehicleArticulatedCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="VehicleBodyTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="VehicleBodyTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="VehicleClassCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="VehicleClassCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="VehicleExternalIdentifierTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="VehicleExternalIdentifierTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="VehicleGaragingCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="VehicleGaragingCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="VehicleInspectionStatusCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="VehicleInspectionStatusCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="VehicleModificationTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="VehicleModificationTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="VehicleOptionCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="VehicleOptionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="VehicleOvernightLocationCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="VehicleOvernightLocationCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="VehiclePerformanceCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="VehiclePerformanceCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="VehicleSpecialUseCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="VehicleSpecialUseCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="VehicleTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="VehicleTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="VehicleUseTypeCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="VehicleUseTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="WaitingPeriodCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="WaitingPeriodCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="WorkPerformedCode_Type">
      <xsd:simpleContent>
         <xsd:extension base="WorkPerformedCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="ACORDCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="AmountContent_Type">
      <xsd:restriction base="xsd:decimal"/>
   </xsd:simpleType>
   <xsd:simpleType name="CodeContent_Type">
      <xsd:restriction base="xsd:token"/>
   </xsd:simpleType>
   <xsd:simpleType name="CurrencyCodeContent_Type">
      <xsd:restriction base="CodeContent_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="DegreeMeasureContent_Type">
      <xsd:restriction base="MeasureContent_Type">
         <xsd:fractionDigits value="8"/>
         <xsd:totalDigits value="12"/>
         <xsd:minInclusive value="-180"/>
         <xsd:maxInclusive value="180"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Identifier_Type">
      <xsd:restriction base="IdentifierContent_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="IdentifierContent_Type">
      <xsd:restriction base="xsd:token"/>
   </xsd:simpleType>
   <xsd:simpleType name="InfiniteText_Type">
      <xsd:restriction base="InfiniteTextContent_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="InfiniteTextContent_Type">
      <xsd:restriction base="TextContent_Type">
         <xsd:minLength value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LatitudeDegreeMeasureContent_Type">
      <xsd:restriction base="DegreeMeasureContent_Type">
         <xsd:fractionDigits value="8"/>
         <xsd:totalDigits value="12"/>
         <xsd:minInclusive value="-180"/>
         <xsd:maxInclusive value="180"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LifeItemSectionOptionQuestionCodeContent_Type">
      <xsd:restriction base="QuestionCodeContent_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LongitudeDegreeMeasureContent_Type">
      <xsd:restriction base="DegreeMeasureContent_Type">
         <xsd:fractionDigits value="8"/>
         <xsd:totalDigits value="12"/>
         <xsd:minInclusive value="-180"/>
         <xsd:maxInclusive value="180"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LongText_Type">
      <xsd:restriction base="LongTextContent_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LongTextContent_Type">
      <xsd:restriction base="TextContent_Type">
         <xsd:maxLength value="255"/>
         <xsd:minLength value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="MeasureContent_Type">
      <xsd:restriction base="xsd:decimal">
         <xsd:fractionDigits value="8"/>
         <xsd:totalDigits value="12"/>
         <xsd:minInclusive value="-999999999999"/>
         <xsd:maxInclusive value="999999999999"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Numeric_Type">
      <xsd:restriction base="xsd:decimal">
         <xsd:totalDigits value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="OptionQuestionCodeContent_Type">
      <xsd:restriction base="ACORDCodeContent_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Percent_Type">
      <xsd:restriction base="xsd:decimal"/>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberText_Type">
      <xsd:restriction base="PhoneNumberTextContent_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberTextContent_Type">
      <xsd:restriction base="TextContent_Type">
         <xsd:maxLength value="32"/>
         <xsd:minLength value="1"/>
         <xsd:pattern value="\+\S+\-\S+\-\S+(\+\S+)?"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="SimpleIdentifier_Type">
      <xsd:restriction base="SimpleIdentifierContent_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SimpleIdentifierContent_Type">
      <xsd:restriction base="IdentifierContent_Type">
         <xsd:maxLength value="255"/>
         <xsd:minLength value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TextContent_Type">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="UnitCodeContent_Type">
      <xsd:restriction base="CodeContent_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="UnsignedIntegerNumeric_Type">
      <xsd:restriction base="xsd:unsignedInt"/>
   </xsd:simpleType>
   <xsd:simpleType name="UUIDIdentifier_Type">
      <xsd:restriction base="UUIDIdentifierContent_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="UUIDIdentifierContent_Type">
      <xsd:restriction base="IdentifierContent_Type">
         <xsd:maxLength value="36"/>
         <xsd:minLength value="36"/>
         <xsd:pattern value="[0-9A-Fa-f]{8}(-[0-9A-Fa-f]{4}){3}-[0-9A-Fa-f]{12}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <!--
      *******************************************************************************
     AttributeGroup
      *******************************************************************************
   -->
   <xsd:attributeGroup name="ACORDClosedCodeAttribute_Sequence">
      <xsd:attribute name="name" type="LongText_Type"/>
      <xsd:attribute name="lang" type="xsd:language"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="ACORDCodeAttribute_Sequence">
      <xsd:attribute name="name" type="LongText_Type"/>
      <xsd:attribute name="lang" type="xsd:language"/>
      <xsd:attribute name="codeListReference" type="SimpleIdentifier_Type"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="CodeAttribute_Sequence">
      <xsd:attribute name="name" type="LongText_Type"/>
      <xsd:attribute name="lang" type="xsd:language"/>
      <xsd:attribute name="codeListReference" type="SimpleIdentifier_Type"/>
   </xsd:attributeGroup>
   
</xsd:schema>