SovSOAPUICITest/SOA/Schemas/sovereign/insurance/Schemas/SovBenefitValidationsResponse.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sovereign.co.nz/acquire/quotedetails/BenefitValidationResponse"
     xmlns="http://www.sovereign.co.nz/acquire/quotedetails/BenefitValidationResponse" elementFormDefault="qualified">
    <xsd:element name="BenefitValidationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ValidationStatus" type="xsd:string"/>
                <xsd:element name="ValidationMessage" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
