SovSOAPUICITest/SOA/Schemas/sovereign/insurance/Schemas/SovProdBenefitsResponse.xsd

<?xml version='1.0' encoding='UTF-8'?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sovereign.co.nz/acquire/quotedetails/ProductBenefitResponse" targetNamespace="http://www.sovereign.co.nz/acquire/quotedetails/ProductBenefitResponse" elementFormDefault="qualified">
   <xsd:complexType name="BenefitDetails">
      <xsd:sequence>
         <xsd:element name="BenefitName" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ProductBenefitResponse" type="BenefitDetails"/>
</xsd:schema>