SovSOAPUICITest/SOA/Schemas/sovereign/insurance/Schemas/SovRateResponse.xsd

<?xml version='1.0' encoding='UTF-8'?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sovereign.co.nz/acquire/quotedetails/RateResponse" targetNamespace="http://www.sovereign.co.nz/acquire/quotedetails/RateResponse" elementFormDefault="qualified">
   <xsd:element name="RateResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Rate" type="xsd:double"/>
            <xsd:element name="StatusCode" type="xsd:string"/>
            <xsd:element name="StatusMessage" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>